Repository yevheniiivanisenko/react-app-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0, stylelint --fix

.lintstagedrc:

{
  "./src/**/*.js": [
    "prettier --write",
    "eslint --fix --max-warnings=0",
    "git add"
  ],
  "./src/**/*.scss": [
    "stylelint --fix",
    "git add"
  ]
}

Modify Home.js
  src/components/Home.js
Due: prettier --write, eslint --fix --max-warnings=0

Fix returned env NODE_ENV related webpack config
  config/webpack.config.js/index.js
Due: none

add dotenv
  .env
  .gitignore
  config/env.js
  config/webpack.config.js/plugins.js
  package-lock.json
Due: none

npn audit fix
  package-lock.json
Due: none

modify .eslintrc.js, .prettierrc, config/eng.js, add .editorconfig, prettify, update packages
  .editorconfig
  .eslintrc.js
  .prettierrc
  config/env.js
  package-lock.json
  package.json
  src/components/Counter.js
  src/components/Home.js
  src/components/Layout.js
  src/store/index.js
  src/store/rootReducer.js
Due: prettier --write, eslint --fix --max-warnings=0

update project code style
  .eslintrc.js
  .prettierrc
  .stylelintrc
  README.md
  config/env.js
  config/paths.js
  config/webpack.config.js/index.js
  config/webpack.config.js/loaders.js
  config/webpack.config.js/plugins.js
  config/webpack.config.js/webpack.base.js
  config/webpack.config.js/webpack.dev.js
  config/webpack.config.js/webpack.prod.js
  package-lock.json
  package.json
  src/app.js
  src/components/Counter.js
  src/components/Home.js
  src/components/Layout.js
  src/components/Layout.scss
  src/components/header.js
  src/history.js
  src/index.js
  src/pages/counter.js
  src/pages/home.js
  src/store/app.js
  src/store/index.js
  src/store/loading.js
  src/store/rootReducer.js
Due: prettier --write, eslint --fix --max-warnings=0, stylelint --fix

update README.md
  .lintstagedrc
  README.md
Due: none

update packages
  package-lock.json
Due: none

update packages and formating rules
  .eslintrc.js
  .prettierrc
  config/env.js
  config/paths.js
  config/webpack.config.js/index.js
  config/webpack.config.js/loaders.js
  config/webpack.config.js/plugins.js
  config/webpack.config.js/webpack.base.js
  config/webpack.config.js/webpack.dev.js
  config/webpack.config.js/webpack.prod.js
  package-lock.json
  package.json
  src/app.js
  src/components/header.js
  src/history.js
  src/index.js
  src/pages/counter.js
  src/pages/home.js
  src/store/index.js
  src/store/loading.js
  src/store/rootReducer.js
Due: prettier --write, eslint --fix --max-warnings=0
